header {
  background-color: lightseagreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  height: 60px;
  padding-top: 10px;
}

nav {
  float: left;
  width: 25%;
  height: 100%;
  background: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  height: 100%;
  overflow: auto;
  border: 2px solid darkgray;
}

#li_list {
  cursor: pointer;
  background-color: lightgray;
  margin: 0.5em;
  padding: 0.3em 0;
  border-radius: 4px;
  padding-left: 70px;
  font-size: 25px;
  width: 400px;
}

.contributors_title {
  font-size: 30px;
  text-align: center;
  border: 2px green solid;
  background-color: lightseagreen;
  color: white;
  width: 450px;
}

.profile {
  border: 2px solid darkgray;
  float: left;
  width: 75%;
  top: 10px;
  position: relative;
}

section {
  overflow: auto;
  height: 800px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: lightseagreen;
  padding: 20px;
  text-align: center;
  color: lightseagreen;
  height: 20px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav {
    width: 100%;
    height: auto;
  }
}
