<header><h2>PEOPLE'S GITHUB</h2></header>
<section>
  <nav>   
      <ul>
        <div class= "contributors_title"> CONTRIBUTORS  </div>
        <div>
         <li id ="li_list" *ngFor="let contributor of contributorlist"
          [class.selected]="contributor === selectedContributor"
          (click)="findProfile(contributor)">       
          {{contributor}}
          </li> 
        </div>          
     </ul>   
  </nav>
  
  <div class="profile">
    <pg-profile [contributorProfile]="contributorProfile" [contributorRepos]="contributorRepos">
    </pg-profile>
  </div>
</section>

<footer>
  <p>Footer</p>
</footer>

