.Header {
  background: lightseagreen;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-satellite);
  color: rgb(255, 255, 255);
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.Header__inner {
  align-items: stretch;
  color: black;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 148rem;
  padding: 0 2rem;
  padding-left: 600px;
  font-size: 15px;
}

.Nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  justify-items: center;
  color: rgb(255, 255, 255);
}
