.detail_title {
  text-align: center;
  background-color: lightpink;
  color: black;
  font-size: 20px;
}

.other_contributors_list {
  list-style-type: none;
  overflow: auto;
  height: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.other_contributors_list li {
  cursor: pointer;
  background-color: lightgray;
  margin: 1em;
  padding: 0.3em 0;
  height: 2em;
  border-radius: 4px;
  color: black;
  padding-left: 20px;
  font-size: 25px;
  padding-bottom: 20px;
}
