.profile_detail {
  border: 2px solid grey;
  height: 450px;
}
.repo_detail {
  border: 2px solid grey;
}

.title {
  text-align: center;
  background-color: lightseagreen;
  color: white;
  font-size: 30px;
  height: 50px;
}

.detail_title {
  text-align: center;
  background-color: lightpink;
  color: black;
  font-size: 20px;
}

#wrapper {
  display: table;
  width: 100%;
}

#profile_detail_basic {
  display: table-cell;
  background-color: white;
  width: 20%;
  border: 2px solid gray;
}
#profile_detail_full {
  display: table-cell;
  background-color: white;
  width: 45%;
  border: 2px solid gray;
}

#profile_repository {
  display: table-cell;
  background-color: white;
  width: 35%;
  border: 2px solid gray;
}

.contributor_img {
  width: 345px;
  height: 227px;
}

#name {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

#bio {
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
#url {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 30px;
}

.git_url_button {
  border: none;
  outline: none;
  cursor: pointer;
  padding-top: 40px;
  transition: 0.3s;
  font-size: 30px;
}

#info_badge {
  padding-left: 20px;
}

.badge {
  display: inline-block;
  min-width: 1em; /* em unit */
  padding: 0.3em; /* em unit */
  font-size: 15px;
  text-align: center;
  background: #1779ba;
  color: #fefefe;
  padding-right: 5px;
  padding-left: 5px;
}
#location {
  font-style: italic;
  padding-left: 20px;
  font-size: 25px;
  padding-bottom: 10px;
}

#hireable {
  font-style: italic;
  padding-left: 20px;
  font-size: 20px;
}

.profile_repos_list {
  list-style-type: none;

  overflow: auto;
  height: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile_repos_list li {
  cursor: pointer;
  background-color: lightgray;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 2em;
  border-radius: 4px;
  color: black;
  padding-left: 20px;

  font-size: 25px;
  width: 400px;
  padding-bottom: 20px;
}

.profile_repos_list li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.profile_repos_list li.selected {
  background-color: darkgray;
  color: white;
}
.profile_repos_list li.selected:hover {
  background-color: #bbd8dc;
  color: white;
}
